body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* Estilos da barra de navegação e do cabeçalho. O código define o estilo para o corpo da página, a barra de navegação e o cabeçalho. O corpo tem um fundo preto e texto branco, enquanto a barra de navegação é exibida como um flex container com itens centralizados e espaçamento entre eles. Os links na barra de navegação são estilizados para serem brancos e sem sublinhado. */
.header {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/*outra coisa*/